
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.img-md {
    width: 4rem;
    height: 4rem;
}
.btn-link {
    transition-property: color;
    box-shadow: none;
    border-radius: 0;
    text-decoration: none!important;
}
.row {
    margin-top: 3rem !important;
}
@media only screen and (max-width: 990px) {
    .navbar .btn-outline-dark{
        margin: 0 auto;
    }
  }